<div class="grid-container">
  <div class="grid-item">
    <button (click)="scrollView(destination.TOP)">Willkommen</button>
  </div>
  <div class="grid-item">
    <button (click)="scrollView(destination.ABOUT_ME)">Über mich</button>
  </div>
  <div class="grid-item">
    <button (click)="scrollView(destination.PICTURE_GALERY)">Bilder</button>
  </div>
  <div class="grid-item">
    <button (click)="scrollView(destination.COMMERCIAL)">Pakete</button>
  </div>
  <div class="grid-item">
    <button (click)="scrollView(destination.CONTACT)">Kontakt</button>
  </div>
  <div class="image"><img src="../../assets/marlimalist_shadow.svg" /></div>
</div>
