<div class="grid-container-menu">
  <div class="grid-item-menu" (click)="scrollView(destination.TOP)">
    Willkommen
  </div>
  <div class="grid-item-menu" (click)="scrollView(destination.ABOUT_ME)">
    Über mich
  </div>
  <div class="grid-item-menu" (click)="scrollView(destination.PICTURE_GALERY)">
    Bilder
  </div>
  <div class="grid-item-menu" (click)="scrollView(destination.COMMERCIAL)">
    Pakete
  </div>
  <div class="grid-item-menu" (click)="scrollView(destination.CONTACT)">
    Kontakt
  </div>
  <div class="image"><img src="../../assets/marlimalist_shadow.svg" /></div>
</div>

<div class="grid-container-burger-menu">
  <ul class="grid-item-burger-menu-icon">
    <img (click)="setBurgerMenuToggle()" src="../../assets/burger-menu.svg" />
  </ul>
  <ng-container *ngIf="this.burgerMenuToggle">
    <ul class="">
      <li><a (click)="scrollView(destination.TOP)">Willkommen</a></li>
      <li>
        <a (click)="scrollView(destination.ABOUT_ME)">Über mich</a>
      </li>
      <li>
        <a (click)="scrollView(destination.PICTURE_GALERY)">Bilder</a>
      </li>
      <li>
        <a (click)="scrollView(destination.COMMERCIAL)">Pakete</a>
      </li>
      <li><a (click)="scrollView(destination.CONTACT)">Kontakt</a></li>
    </ul>
  </ng-container>
</div>
