<div class="grid-container-root">
  <div class="root-title"><h2>Pakete</h2></div>
  <div class="grid-container-columns">
    <div class="grid-item">
      <div class="header">Header</div>
      <div class="body">
        <li>a</li>
        <li>b</li>
      </div>
      <!--  <div class="callToAction">
      <button>Click me</button>
    </div> -->
    </div>
    <div class="grid-item">
      <div class="header">Header</div>
      <div class="body">
        <li>a</li>
        <li>b</li>
      </div>
    </div>
    <div class="grid-item">
      <div class="header">Header</div>
      <div class="body">
        <li>a</li>
        <li>b</li>
      </div>
    </div>
  </div>
</div>
