<div class="grid-container-root">
  <div *ngIf="pictureSources !== undefined">
    <div class="root-title"><h1>Augenblicke für die Ewigkeit</h1></div>
    <div class="grid-container-columns">
      <div class="grid-item one">
        <div class="header"><h3>Augenblicke I</h3></div>
        <div class="body-image">
          <img [src]="assetsSourceUrl + pictureSources[0].url" />
        </div>
        <div class="body-text one">
          <span>Was dich erwartet:</span>
          <ul>
            <li>1 - 1,5 h "You"-Time</li>
            <li>
              ca. 80 Bilddateien von mir liebevoll bearbeitet in deiner
              Online-Galerie zum Download
            </li>
            <li>Besondere Wertschätzung</li>
            <li>300 € für deine Augenblicke und Erinnerungen</li>
          </ul>
        </div>
      </div>
      <div class="grid-item two">
        <div class="header"><h3>Augenblicke II</h3></div>
        <div class="body-image">
          <img [src]="assetsSourceUrl + pictureSources[1].url" />
        </div>
        <div class="body-text two">
          <span>Was dich erwartet:</span>
          <ul>
            <li>1 - 3 h "You"-Time</li>
            <li>
              ca. 100 Bilddateien von mir liebevoll bearbeitet in deiner
              Online-Galerie zum Download
            </li>
            <li>Besondere Wertschätzung</li>
            <li>
              500 € für deine Augenblicke und Erinnerungen mit bis zu 5 anderen
              Personen
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-item three">
        <div class="header"><h3>Eure gemeinsame Zukunft</h3></div>
        <div class="body-image">
          <img [src]="assetsSourceUrl + pictureSources[2].url" />
        </div>
        <div class="body-text three">
          <span>Was euch erwartet:</span>
          <ul>
            <li>Kirchliche Trauung oder Trauung im Standesamt ab 2 Stunden</li>
            <li>Begleitung eurer Hochzeit ab 6 Stunden</li>
            <li>
              Alle Bilddateien von mir liebevoll bearbeitet in eurer
              Online-Galerie zum Download
            </li>
            <li>genaueres auf Anfrage</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
