<div class="grid-container-root">
  <div class="grid-container">
    <div class="header">Header</div>
    <div class="body">
      <li>a</li>
      <li>b</li>
    </div>
    <div class="callToAction">
      <button>Click me</button>
    </div>
  </div>
  <div class="grid-container">
    <div class="header">Header</div>
    <div class="body">
      <li>a</li>
      <li>b</li>
    </div>
  </div>
  <div class="grid-container">
    <div class="header">Header</div>
    <div class="body">
      <li>a</li>
      <li>b</li>
    </div>
  </div>
</div>
