:host {
  display: flex;
  justify-content: center;
}

.grid-container-root {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.grid-container-columns {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
}

.grid-item {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.header {
  height: 100px;

  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.body-text {
  height: 400px;

  border-radius: 5px;
  padding: 2rem;
  line-height: 2rem;
  background-color: white;
}

.body-text.one {
  display: none;
}

.body-text.two {
  display: none;
}

.body-text.three {
  display: none;
}

.grid-item.one:hover .body-image {
  display: none;
}
.grid-item.one:hover .body-text {
  display: block;
}

.grid-item.two:hover .body-image {
  display: none;
}
.grid-item.two:hover .body-text {
  display: block;
}
.grid-item.three:hover .body-image {
  display: none;
}
.grid-item.three:hover .body-text {
  display: block;
}

.body-image {
  height: 400px;
  line-height: 2rem;
}

.body-image > img {
  height: inherit;
  width: 300px;
}

ul {
  padding: 0;
}

@media screen and (max-width: 992px) {
  .grid-container-columns {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
    overflow-x: scroll;
  }

  .body-text {
    max-height: 500px;
    padding: 2rem;
    line-height: 2rem;
  }
}
