<div class="grid-container-root">
  <div class="root-title"><h2>Über mich</h2></div>
  <div class="grid-container">
    <div class="grid-item text">
      <h3>Hi, ich bin Marco!</h3>
      <p>
        Seit 32 Jahren liebe ich Individualität. Jeder Mensch ist anders, jeder
        Mensch ist wunderbar und zusammen halten wir die einzigartigen
        Augenblicke deines individuellen Lebens für immer fest.
      </p>
      <h3>Der Beginn meiner Reise</h3>
      <p>
        Schon in jungen Jahren war ich von der Kunst der Fotografie fasziniert.
        Ich erinnere mich noch genau an den Moment, als ich meine erste Kamera
        in den Händen hielt, den Auslöser drückte, das mechanische Klicken hörte
        und wie sehr ich mich auf den Moment gefreut habe, als die Bilder
        endlich entwickelt wurden. Dieses Feuer hält bis heute an!
      </p>
      <h3>Augenblicke für die Ewigkeit</h3>
      <p>
        Ich glaube daran, dass jeder Mensch eine einzigartige Geschichte zu
        erzählen hat, und ich möchte dir dabei helfen, diese Geschichte durch
        meine Fotografie zum Ausdruck zu bringen.
      </p>
    </div>
    <div class="grid-item image">
      <img src="../../assets/me.JPG" alt="me" />
    </div>
  </div>
</div>
