<div class="grid-container-root">
  <div class="root-title"><h1>Bildergalerie</h1></div>
  <div>
    <div *ngIf="pictureSources !== undefined">
      <div class="grid-container">
        <ng-container *ngFor="let pictureSource of pictureSources">
          <div class="grid-item">
            <p-image
              class="imageGallery"
              [src]="assetsSourceUrl + pictureSource.url"
              [preview]="true"
              height="220px"
            ></p-image>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
