.grid-container-root {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.grid-item > img {
  max-width: 100%;
}
