<div class="grid-container-root">
  <div class="root-title"><h2>Bildergalerie</h2></div>
  <div>
    <div class="grid-container1">
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
    </div>
    <div class="grid-container2">
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
    </div>
    <div class="grid-container1">
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
      <div class="grid-item">
        <img src="../../assets/hero-image.jpg" />
      </div>
    </div>
  </div>
</div>
