<div class="grid-container1">
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
</div>
<div class="grid-container2">
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
</div>
<div class="grid-container1">
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
  <div class="grid-item">
    <img src="../../assets/hero-image.jpg" />
  </div>
</div>
