<div class="grid-container">
  <div class="grid-item image">
    <img src="../../assets/me.JPG" alt="me" />
  </div>
  <div class="grid-container-text">
    <div class="grid-item address">
      <h3>Hallo Hallo</h3>
      <p>Marco Li</p>
      <p>Straße 1</p>
      <p>Stadt</p>
      <p>email@domain.de</p>
    </div>
    <div class="grid-item formular">
      <p>Name</p>
      <input type="text" />
      <p>Email Adresse</p>
      <input type="text" />
      <p>Betreff</p>
      <input type="text" />
      <p>Nachricht</p>
      <input type="text" />
      <button>Send</button>
    </div>
  </div>
</div>
