<div class="grid-container-root">
  <div class="root-title"><h1>Schreib mir</h1></div>

  <div class="grid-container">
    <div class="grid-item image">
      <img src="../../assets/me.JPG" alt="me" />
    </div>
    <div class="grid-container-text">
      <div class="grid-item address">
        <p>Marco Li</p>
        <p>Straße 1</p>
        <p>Stadt</p>
        <p>email@domain.de</p>
      </div>
      <div class="grid-item formular">
        <div class="input">
          <label htmlFor="name">Name eingeben:</label>
          <input pInputText type="text" placeholder="Name" />
        </div>
        <div class="input">
          <label htmlFor="email">Email Adresse eingeben:</label>
          <input pInputText type="text" placeholder="Email Adresse" />
        </div>
        <div class="input">
          <label htmlFor="subject">Betreff eingeben:</label>
          <input pInputText type="text" placeholder="Betreff" />
        </div>
        <div class="input">
          <p>Nachricht eingeben:</p>
          <textarea
            pInputText
            rows="6"
            cols="40"
            placeholder="Deine Nachricht an mich"
          ></textarea>
        </div>
        <div class="grid-item actionButton">
          <p-button>Send</p-button>
        </div>
      </div>
    </div>
  </div>
</div>
