img {
  min-width: 1200px;
  width: 100%;
}

.positionAnchor {
  position: relative;
}

.content {
  position: absolute;
  display: flex;
  width: 32vw;
  height: 20vw;
  left: 4%;
  bottom: 40%;
  background: rgba(255, 255, 255);
  align-items: flex-end;
  padding: 1.25rem;
  flex-direction: column;
}
