img {
  min-width: 1200px;
  width: 100%;
}

.positionAnchor {
  position: relative;
}

.content {
  position: absolute;
  display: inline-block;
  width: 30vw;
  height: 20vw;
  left: 4%;
  bottom: 40%;
  background-color: white;
  text-align: center;
  padding: 20px;
}
